body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

/* Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.social-icons  li a i{
    color:rgb(16, 128, 219);
    font-size: 1rem;
    padding:10px;
    border-radius: 50%;
}
/*About section*/
#about{
    height:auto;
    width:100%;
}
#my-image{
    height:12rem;
    width:12rem;
    margin:auto;
    position:relative;
    margin-top:-20vh;
}
#my-image img{
    height:100%;
    width:100%;
    border-radius: 50%;
   border:2px solid white;
   box-shadow: 0px 0px 12px 2px rgb(161, 161, 231);
   
    
}

.about-para{
    background-color: antiquewhite;
    color:rgb(22, 13, 13);
    font-weight: 300;
    font-size: 1rem;
    margin:auto;
    padding:16px;
    width:70%;
    height:70%;
    /* line-height: 20px; */
    text-align: justify;
    font-family:monospace;
    word-spacing: 5px;
 
   justify-content: center;
   font-style: italic;
}
b{
    color:blue;
    font-weight:500;
    font-size:1rem;
    font-family:monospace;
}
section{
    width:100%;
    min-height:85vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n){
    background-color: rgb(88, 87, 87);
}
section:nth-child(2n+1){
    background-color: white;
}
section:target{
    background-color: aqua;
}
.section-heading{
    width:auto;
    padding:20px 10px 10px;
    margin:10px auto;
    font-weight: 400;
}
.section-heading span{
    font-size: 40px;
    color:#2857a4;
    display:inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
.skills-display{
   /* border:2px solid black;
    height:100%;*/
    width:70%;
     display:flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.skill-heading{
    color:rgb(36, 124, 240);
    font-size: 3rem;

}



.skill-progress{
    width:12rem;
    height:2.2rem;
    background-color: lightslategray;
   /*border:2px solid rgb(236, 217, 217);*/
   box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    border-radius: 5rem;
    margin:25px;
    overflow:hidden;
}
.skill-progress div{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px hsl(152, 23%, 55%);
}
.skill-name span{
    color:white;
    font-size: 2rem;
    margin-left:20px;
    margin-bottom: 13px;
}
.mb75px{
    margin-bottom:65px;
}
.mb-blue{
   background-color:blue
}
.mb-orange{
    background-color:orange;
}
.mb-teal{
    background-color: teal;
}
.mb-green{
    background-color: green;

}
.mb-light-purple{
    background-color: lightseagreen;
}
.mb-light-pink{
    background-color:lightpink;
}
.eighty-five-percent{
    width:85%;
    height:inherit;
}
.eighty-percent{
    width:80%;
    height:inherit;
}
.sixty-percent{
    width:60%;
    height:inherit;
}
.eighty-five-percent{
    width:85%;
    height:inherit;
}
.fifty-five-percent{
    width:55%;
    height:inherit;
}
.fifty-percent{
    width:75%;
    height:inherit;
}

/*experience section */
#experience{
    background-color: white;
}
.timeline{
   border:2px solid rgb(104, 69, 199);
    width:75%;
    position:relative;
}
.timeline-box{
    width:40%;
    margin:8px;
    /*border-radius: 30%;*/
    left:6%;
    position:relative;
    min-height: 250px;
    border:1px solid rgb(104, 69, 199);
}
.timeline-box:nth-child(2n){
    left:53%;
}
.timeline-box:nth-child(2n+1):after{
    content: '';
    height:0.5rem;
    width:0.5rem;
    top:30%;
    right:-9%;
    border-radius: 50%;
    position:absolute;
    background-color:rgb(104, 69, 199);
    z-index:1;
}
.timeline-box:nth-child(2n):after{
    content: '';
    height:0.5rem;
    width:0.5rem;
    top:30%;
    left:-10%;
    border-radius: 50%;
    position:absolute;
    background-color:rgb(104, 69, 199);
    z-index:1;
}
.timeline-divider{
    position:absolute;
    height:75%;
    width:0;
    top:10%;
    left:50%;
    border:1px dashed rgb(104, 69, 199);
    z-index:1;

}
.timeline-traveller{
    position:sticky;
    top:33%;
    transform:rotate(90deg);
    z-index:2;
}

.timeline-box {
	position: relative;
	width: 46%;
	min-height: 150px;
	background-color: rgb(245, 245, 245);
	margin: 5px;
	left: -5%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow-wrap: break-word;
}


#education{
    background: repeating-linear-gradient(to top right,gray,white 25px)
}



#contact{
    background-color: rgb(220, 217, 248);

}
#contact-container{
    display:flex;
}
#contact-form{
    margin-left:20%;
}
#my-details-containe{
    width:35%;
    margin-left: 6%;

}
#my-details-container h3 {
    color:blue;
    font-weight: 550;
    font-size: 1.2rem;
}
#contact-form-container {
    width: 50%;
}
#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

